<h1>General Assembly Front Lines Equipment Rental</h1>

<p><%= link_to  "Make a Request", new_user_rental_path(@user) %></p>

<p><%= link_to "Browse All Equipment", items_path %></p>

<p><%= link_to "See All Requests", rentals_all_path %></p>

<% if can? :read, @user %>
<p><%= link_to "Admin Controller", rentals_admin_path %></p>
<% end %>

<p><%= link_to "GA Policy on Rentals", rentals_policy_path %></p>
