<h1>Renter Info</h1>
<p>Name: <%= @rental.name %>
  <% if can? :update, @rental %>
  <%= link_to "(Edit this Rental)", edit_user_rental_path(@user, @rental) %>
<% end %>
</p>
<p>Staff or Student: <%= @rental.staff %></p>
<p>Email: <%= @rental.email %></p>
<p>Phone Number: <%= @rental.phone %></p>
<p>Item to Rent: <%= @rental.item %></p>
<p>Amount Requested: <%= @rental.quantity %></p>
<p>Desired Rental Date: <%= @rental.daterental.strftime("%m/%d/%Y") %></p>
