<div class="form-page">
  <h1 class="home-large-text">VIEW ALL <br> EQUIPMENT</h1>
</div>

<div class="show_items">
  <h1>Equipment</h1>
  <h2>
    <% if can? :create, @item %>
    <%= link_to "Add a New Rental Item", new_item_path %>
  <% end %>
  </h2>

  <% @items.each do |item| %>
    <div class="item_info">
        <%= image_tag "#{item.photo_url}", class: "item_pix" %>
        <p><%= link_to "#{item.name}", item %></p>
        <p class="quantity">Quantity Available: <%= item.quantity %></p>
        <form action="">
          <input class="check_box" type="checkbox" name="rent" value="Rent">
          <span class="rent_link"><%= link_to "Rent Now" %></span>
        </form>
    </div>
  <% end %>
</div>
