<section class="content-grey" id="overview">
  <div class="complex-grid">
    <header>
      <h2>Welcome to<br>GA Frontlines</h2>
      <p class="resizable medium">We’re excited to help you and your equipment needs!<br>
        Start by viewing equipment options and requests below.</p>
    </header>
  </div>

  <div class="note">
      <div class="panel-grey">
      <h4>Learn Anywhere</h4>
      <p>Forgot your charger? Need to prototype? Browse and reserve equipment from front lines today!</p>
      </div>
  </div>

</section>

<div class="equipment-page">
  <h1 class="home-large-text-equipment">View All <br> Equipment</h1>

  <div class="see-more">
    <%= select_tag 'item_id', options_from_collection_for_select(@items, "id", "name"), :onchange => "window.location.replace('/items/'+this.value);", class: "submit", :prompt => 'Select Equipment Item' %>
    <%= link_to "View Requests", rentals_all_path, class: "view-requests" %>
    <h5>View all equipment below</h5>
    <a class="js-arrow-down" href="#show_items" data-target="here">
      <img alt="down arrow" class="arrow-down" src="http://i59.tinypic.com/5vdw5g.png">
    </a>
  </div>

</div>

<div class="show_items" id="here">

  <div class="admin-area">
    <% if can? :read, @user %>
      <%= link_to "Admin Controller", rentals_admin_path, class: "signup"  %>
    <% end %>

    <% if can? :create, @item %>
      <%= link_to "Add a New Rental Item", new_item_path, class: "view-requests"  %>
    <% end %>
  </div>

  <% @items.each do |item| %>
    <div class="item_info">
        <%= image_tag "#{item.photo_url}", class: "item_pix" %>
        <%= link_to "#{item.name}", item, class: "item_link" %>
        <p class="quantity">Quantity Available: <%= item.quantity %></p>
        <p class="description">IPhone deep v direct trade, polaroid vinyl beard single-origin coffee shabby chic American Apparel Schlitz fap brunch drinking vinegar banjo wayfarers.</p>
        <form action="">
          <input class="check_box" type="checkbox" name="rent" value="Rent">
          <%= link_to "Rent Now", new_user_rental_path(current_user, @rental), class: "rent_link" %>
        </form>
    </div>
  <% end %>
</div>
