<header class="items_index_header">
  <div class="header_text">
    <h1 class="equipment">VIEW ALL EQUIPMENT</h1>
    <h2><%= link_to "Add a New Rental Item", new_item_path %></h2>
  </div>
</header>

<div class="show_items">

  <% @items.each do |item| %>
    <div class="item_info">
        <%= image_tag "#{item.photo_url}", class: "item_pix" %>
        <p><%= link_to "#{item.name}", item %></p>
        <p class="quantity">Quantity Available: <%= item.quantity %></p>
        <form action="">
          <input class="check_box" type="checkbox" name="rent" value="Rent">
          <span class="rent_link"><%= link_to "Rent Now" %></span>
        </form>
    </div>
  <% end %>
</div>
