<div class="equipment-page">
  <h1 class="home-large-text"><%= @item.name %> <br> Availability</h1>
</div>

<div class="item-show-page">

  <br>
  <br>

  <div class="reserve-item">
    <h1 class="info-large-text">RESERVE NOW</h1>

  </div>

  <div class="item-info">
    <%= image_tag @item.photo_url, class: "item_image" %>
    <h3><%= @item.name %></h3>
    <div class="quantity_condition">
      <p><% if can? :update, @item %>
        <%= link_to "(Edit this Item)", edit_item_path(@item) %>
    </div>
      <% end %>
    </p>
    <h4>Quantity Available: <%= @item.quantity %></h4>
    <p>Item Condition: <%= @item.condition %></p>
  </div>

</div>
  <h1 class="home-medium-text"><%= @item.name %><br>Availability</h1>
</div>

</div>

<h1><%= @item.name %></h1>
<p><% if can? :update, @item %>
  <%= link_to "(Edit this Item)", edit_item_path(@item) %>
<% end %>
</p>
<p>Item Condition: <%= @item.condition %></p>
<p>Item Quantity: <%= @item.quantity %></p>
<%= image_tag @item.photo_url %>
