
<p><%= @item.name %><%= link_to "(Edit this Item)", edit_item_path(@item) %></p>
<p>Item Condition: <%= @item.condition %></p>
<p>Item Quantity: <%= @item.quantity %></p>
<%= image_tag @item.photo_url %>
