<div class="equipment-page">
  <h1 class="home-large-text"><%= @item.name %> <br> Availability</h1>
</div>

<div class="item-show-page">

  <div class="reserve-item">
    <h1 class="info-large-text">RESERVE NOW</h1>
    <%= form_for [@user, @rental] do |f| %>

    <%= f.label :name, "Your Name" %>
      <%= f.text_field :name %>

        <%= f.label :staff, "Staff or Student" %>
          <%= f.select(:staff, options_for_select([["Student", "Student"],["Staff", "Staff"]]), {}, {class: 'view-requests'}) %>

            <%= f.label :email, "Email" %>
              <%= f.text_field :email %>

                <%= f.label :phone, "Phone" %>
                  <%= f.text_field :phone %>

                    <%= f.label :item, "Item to Rent" %>

                      <%= f.select(:item, options_from_collection_for_select(@items, "name", "name"), {}, {class: 'view-requests'}) %>

                        <%= f.label :quantity %>
                          <%= f.select(:quantity, 0..10, {}, {class: 'view-requests'}) %>

                            <%= f.label :daterental, "Date for Rental" %>
                              <%= f.date_select :daterental, { :order => [:month, :day, :year], :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' } }, {:class => "view-requests"} %>

          <%= f.submit class: 'submit' %>
        <% end %>


  </div>

  <div class="item-info">
    <%= image_tag @item.photo_url, class: "item_image" %>
    <h3><%= @item.name %></h3>
    <div class="quantity_condition">
      <p><% if can? :update, @item %>
        <%= link_to "(Edit this Item)", edit_item_path(@item) %>
    </div>
      <% end %>
    </p>
    <h4>Quantity Available: <%= @item.quantity %></h4>
    <p class="description">IPhone deep v direct trade, polaroid vinyl beard single-origin coffee shabby chic American Apparel Schlitz fap brunch drinking vinegar banjo wayfarers.</p>
  </div>
</div>
